@mixin boxShadow($arg) {
  -webkit-box-shadow: $arg;
  -ms-box-shadow: $arg;
  -moz-box-shadow: $arg;
  box-shadow: $arg;
}

@mixin transform($arg) {
  -webkit-transform: $arg;
  -ms-transform: $arg;
  -moz-transform: $arg;
  -o-transform: $arg;
  transform: $arg;
}

@mixin transition($arg) {
  -webkit-transition: $arg;
  -ms-transition: $arg;
  -moz-transition: $arg;
  -o-transition: $arg;
  transition: $arg;
}

@mixin animation($arg) {
  -webkit-animation: $arg;
  animation: $arg;
}

@mixin flex($n) {
  -webkit-box-flex: $n;
  -webkit-flex: $n;
  -ms-flex: $n;
  flex: $n;
}