* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.clear {
  clear: both; }

body {
  color: #333;
  font: 16px/1 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body .hamburger span, body .close span {
    margin: 4px 0;
    opacity: 1; }
  body.navpane-is-open .header .hamburger:before, body.navpane-is-open .header .close:before {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    -ms-transform: translate3d(0, 0, 0) rotate(45deg);
    -moz-transform: translate3d(0, 0, 0) rotate(45deg);
    -o-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
    top: 6px; }
  body.navpane-is-open .header .hamburger span, body.navpane-is-open .header .close span {
    opacity: 0; }
  body.navpane-is-open .header .hamburger:after, body.navpane-is-open .header .close:after {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    -ms-transform: translate3d(0, 0, 0) rotate(-45deg);
    -moz-transform: translate3d(0, 0, 0) rotate(-45deg);
    -o-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
    top: -6px; }
  body.navpane-is-open .overlay {
    opacity: 1;
    z-index: 3;
    -webkit-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1);
    -ms-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1);
    -moz-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1);
    -o-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1);
    transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1); }

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1) 0.65s, z-index 0.1s ease-in-out 1s;
  -moz-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1) 0.65s, z-index 0.1s ease-in-out 1s;
  -o-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1) 0.65s, z-index 0.1s ease-in-out 1s;
  -ms-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1) 0.65s, z-index 0.1s ease-in-out 1s;
  transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1) 0.65s, z-index 0.1s ease-in-out 1s; }

.container {
  width: 100%;
  max-width: 1000px;
  position: relative;
  display: table;
  margin: auto;
  padding: 0 1rem; }

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffffff;
  text-align: center;
  z-index: 6;
  border-radius: 1px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.65s ease-in-out;
  -ms-transition: all 0.65s ease-in-out;
  -moz-transition: all 0.65s ease-in-out;
  -o-transition: all 0.65s ease-in-out;
  transition: all 0.65s ease-in-out; }
  .header .container {
    padding: 0 1rem;
    height: 2.5rem; }
  .header .icons, .header .logo {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 15%;
    padding: 15px 0; }
  .header .logo {
    font-family: "Lora";
    font-size: 1.1rem;
    font-style: italic; }
  .header .navpane-trigger {
    display: none; }
  .header .hamburger span, .header .hamburger:before, .header .hamburger:after, .header .close span, .header .close:before, .header .close:after {
    position: relative;
    display: block;
    top: 0;
    width: 20px;
    height: 2px;
    background: #333333;
    -webkit-transition: transform 460ms cubic-bezier(0, 0.85, 0.55, 1), opacity 200ms cubic-bezier(0, 0.85, 0.55, 1), top 200ms cubic-bezier(0, 0.85, 0.55, 1);
    -moz-transition: transform 460ms cubic-bezier(0, 0.85, 0.55, 1), opacity 200ms cubic-bezier(0, 0.85, 0.55, 1), top 200ms cubic-bezier(0, 0.85, 0.55, 1);
    -o-transition: transform 460ms cubic-bezier(0, 0.85, 0.55, 1), opacity 200ms cubic-bezier(0, 0.85, 0.55, 1), top 200ms cubic-bezier(0, 0.85, 0.55, 1);
    -ms-transition: transform 460ms cubic-bezier(0, 0.85, 0.55, 1), opacity 200ms cubic-bezier(0, 0.85, 0.55, 1), top 200ms cubic-bezier(0, 0.85, 0.55, 1);
    transition: transform 460ms cubic-bezier(0, 0.85, 0.55, 1), opacity 200ms cubic-bezier(0, 0.85, 0.55, 1), top 200ms cubic-bezier(0, 0.85, 0.55, 1); }
  .header .hamburger {
    display: block;
    float: left;
    position: relative;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    -webkit-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1) 0.65s;
    -ms-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1) 0.65s;
    -moz-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1) 0.65s;
    -o-transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1) 0.65s;
    transition: opacity 0.35s cubic-bezier(0, 0.85, 0.55, 1) 0.65s; }
    .header .hamburger:before, .header .hamburger:after {
      content: ''; }

.content > div {
  opacity: 1;
  -webkit-transition: opacity 400ms cubic-bezier(0, 0.085, 0.68, 0.53) 600ms;
  -ms-transition: opacity 400ms cubic-bezier(0, 0.085, 0.68, 0.53) 600ms;
  -moz-transition: opacity 400ms cubic-bezier(0, 0.085, 0.68, 0.53) 600ms;
  -o-transition: opacity 400ms cubic-bezier(0, 0.085, 0.68, 0.53) 600ms;
  transition: opacity 400ms cubic-bezier(0, 0.085, 0.68, 0.53) 600ms; }
.content .banner {
  padding-top: 3rem; }
.content .section-wrap {
  display: table;
  table-layout: fixed;
  width: 100%; }
.content .banner .bg-box {
  background: url("../images/top_bg.jpg") top center no-repeat;
  background-size: cover;
  height: 14rem;
  color: #fff;
  text-align: center; }
  .content .banner .bg-box h2 {
    font-size: 2rem;
    margin: 5rem 0 1rem; }
  .content .banner .bg-box p {
    font-size: 0.9rem;
    margin: 0 auto 1em;
    font-weight: 500;
    letter-spacing: 5px; }
.content .section-wrap .multicol-table {
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
  width: calc(100% - 2rem);
  padding: 0;
  border: 0;
  margin: 3rem 0; }
  .content .section-wrap .multicol-table .multicol-col {
    vertical-align: top;
    margin: 0;
    border: 0;
    padding: 0 15px;
    -moz-box-sizing: border-box; }
    .content .section-wrap .multicol-table .multicol-col blockquote {
      font-size: 11px;
      color: #2a2a2a;
      font-style: normal;
      letter-spacing: 4px;
      line-height: 1.5;
      border: none;
      margin: 0 auto 1.5em;
      padding: 0 1.5em; }
.content .section-wrap .content-title {
  font-size: 48px;
  line-height: 60px;
  font-style: normal; }
.content .section-wrap .paragraph {
  font-size: 19px;
  color: #515151;
  line-height: 36px; }
.content .section-2 .mid-bg {
  background: url(../images/mid_bg.png) center no-repeat;
  background-size: cover;
  height: 4.5rem; }
.content .section-3 {
  margin: 3rem 0 0; }
  .content .section-3 .content-title {
    text-align: center;
    padding: 0 2rem; }
.content .section-4 {
  padding: 3rem 0;
  background-color: #f2f2f2; }
  .content .section-4 .content-title {
    text-align: left;
    padding: 0 15px; }
  .content .section-4 .works-box {
    list-style: none;
    margin: 3rem 0;
    width: 100%; }
    .content .section-4 .works-box li {
      float: left;
      width: calc((100% - 1rem) / 3);
      margin-right: 0.5rem;
      margin-bottom: 0.5rem; }
      .content .section-4 .works-box li:nth-child(3n) {
        margin-right: 0; }
      .content .section-4 .works-box li img {
        width: 100%; }

.footer {
  padding: 3rem 0;
  text-align: center;
  background: #fff; }
  .footer a {
    font-size: 0.6rem;
    color: #333;
    display: inline-block;
    margin: 0 0.6rem;
    text-decoration: none;
    font-weight: 100; }

/*# sourceMappingURL=style.css.map */
