.content{
    .banner{
        .bg-box{
            background: url("../images/top_bg2.jpg") top center no-repeat;
            background-size: cover;
            color: #fff;
            text-align: center;
            text-shadow: 0px 0px 10px rgba(0,0,0,.3);
            .container{
                padding: 20% 1rem;
            }
            h2{
                font-size: 1.8rem;
                margin: 0 0 1rem;
            }
            p{
                font-size: 0.9rem;
                margin: 0 auto;
                font-weight: 500;
                letter-spacing: 0.2rem;
                line-height: 1.25;
            }
        }
    }
    .section-wrap{
        .multicol-table {
            position: relative;
            border-collapse: collapse;
            table-layout: fixed;
            width: calc(100% + 30px);
            padding: 0;
            border: 0;
            margin: 3rem -15px;
            .multicol-col {
                vertical-align: top;
                margin: 0 ;
                border: 0;
                padding: 0 15px;
                blockquote{
                    font-size: 11px;
                    color: #2a2a2a;
                    font-style: normal;
                    letter-spacing: 4px;
                    line-height: 1.5;
                    border: none;
                    margin: 0 auto 1.5em;
                    padding: 0 1.5em;
                }
            }
        }
        .content-title{
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-style: normal;
            margin-bottom: 1rem;
        }
        .paragraph{
            font-size: 0.65rem;
            color: #515151;
            line-height: 1.5;
            pre{
                white-space: pre-line;
            }
        }
    }
    .section-2{
        .mid-bg{
            background: url(../images/mid_bg2.jpg) center no-repeat;
            background-size: cover;
            height: 4.5rem;
        }
    }
    .section-3{
        margin: 3rem 0 0;
        .content-title{
            text-align: center;
        }
    }
    .section-4{
        padding: 3rem 0;
        background-color: #f2f2f2;
        .content-title{
            text-align: left;
        }
        .more{
            font-size: 0.7rem;
            float: right;
        }
    }
    .section-5{
        .container{
            padding: 1rem;
            .content-title{
                font-size: 1.2rem;
            }
        }
    }
}
@media screen and (max-width: 700px){
   .content .section-wrap{
       .multicol-table {
           .multicol-col{
               display: block;
               .content-title{
                   //line-height: 1.25;
               }
           }
       }
   }
}
